.setting{
	width: 120%;
	height: 100vh;
}

.square{
	height: 15vw;
	width: 15vw;
	margin: 5px 5px; 
	float: left;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: inline-block;
}

